@import url('https://fonts.google.com');

@font-face {
  font-family: 'SansNew';
  src: url('ElmsSans-VariableFont_wght.ttf');
}

body {
    min-height: 100vh;
    margin-top: 17vh;
    margin-left: 0;
    margin-bottom: 5vh;
}

header {
    background-image: url(imgs/img4.avif);
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    height: 100vh;
    padding: 40px;
    border-radius: 20px;
    margin: 20px;
}

main {
    justify-items: center;
}

div.maintext {
    color: white;
    padding: 15px;
}

div.maintext > h1 {
    font-size: 12vh;
    color: rgb(155, 83, 0);
    text-shadow: 7px 7px 7px rgb(0,0,0);
    font-family: 'SansNew', sans-serif;
}

div.maintext > h2 {
    font-size: 5vh;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

div.maintext > p {
    font-size: 3.5vh;
    color: rgb(0, 0, 0);
}

.important {
    color: #fc9e13;
}

.impactful {
    color: rgb(31, 54, 25);
    font-weight: bold;
}

.impactful2 {
    color: rgb(71, 202, 44);
}

.impactful3 {
    color: rgb(68, 172, 123);
    font-weight: bold;
}

nav {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: #d1ff7c;
    width: fit-content;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
}

nav > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    padding-right: 15px;
    padding-left: 10px;
}

div.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3vw;
    align-items: center;
}

nav > a > img:hover {
    transform: scale(1.3);
    opacity: 0.5;
}

.top_menu > a, a:link, a:visited, a:active {
    text-decoration: none;
}

img.icon {
    height: 50px;
    width: 50px;
    padding: 20px;
}

img.menu_icon {
    height: 12vh;
    width: auto;
}

div.name {
    display: flex;
    gap: 2vw;
    align-items: center;
}

div.top_menu {
    padding: 25px;
    background-color: rgb(154, 206, 154);
    position: fixed;
    width: 95.1vw;
    top: 0;
    height: 8vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 3vw;
    z-index: 9999;
}

div.name > h3 {
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.reservar {
    padding: 20px;
    background-color: #eba447;
    width: fit-content;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 2vh; 
    border-radius: 15px;
}

button.reservar:hover {
    color: rgba(255, 6, 6, 0.7);
    background-color: rgba(255, 200, 20, 0.9);
    transform: scale(1.05);
    cursor: pointer;
}

article {
    padding: 2vw;
    background-color: bisque;
    border-radius: 20px;
    margin: 10px;
    width: fit-content;
    gap: 50px;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 120px;
}

article.first {
    display: flex;
    padding-right: 50px;
}

article.second {
    height: fit-content;
}

article.second > div.content {
    margin-bottom: 100px;
}

div.gallery1, div.gallery2 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    margin-bottom: 150px;
    height: fit-content;
}

div.galleries {
    display: flex;
    gap: 280px;
    justify-content: center;
}

article.first > img {
    width: 900px;
    border-radius: 20px;
    height: auto;
}

div.gallery1 > div > img, div.gallery2 > div > img {
    width: 550px;
    border-radius: 20px;
    height: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.content {
    flex: 1;
    text-align: center;
}

article.first > div.content {
    margin-right: 100px;
    margin-left: 100px;
}

article.second > div.content {
    margin-left: 300px;
    margin-right: 300px;
}

div.content > h2 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.content > h3 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

div.content > p {
    font-size: 20px;
}

p.desc {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 550px;
}

div.comments {
    display: flex;
    border: solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 680px;
    gap: 20px;
    overflow-x: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

div.comments > img {
    height: fit-content;
}

article.third > div.content {
    margin-bottom: 30px;
}

article.third > div.content > img {
    border-radius: 30px;
}